/* Write your CSS here */
.home-bg-container {
  max-width: 1550px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-container {
  height: 90vh;
  width: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0px;
}
@media (min-width: 768px) {
  .home-container {
    width: 1180px;
  }
}
.dark-theme {
  background-color: #000000;
}
.light-theme {
  background-color: #ffffffff;
}
.home-img {
  width: 85px;
}
.home-heading {
  font-size: 28px;
  font-family: 'Roboto';
}
.light-home-heading {
  color: #ffffff;
}
.dark-home-heading {
  color: #000000;
}
.show {
  display: block;
}
.not-show {
  display: none;
}
